body {
    margin: 0;
    padding: 0;
    color: white;
    overflow: hidden;
}

nav{
    display: flex;
    justify-content: center;
    background-color: rgba(51, 51, 51, 0.831);
    position: fixed;
    top: 0;
    width: 100%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    max-width: 769px;
}

li {
    float: left;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: #111;
}

div{
    height: 200vh;
}

.la {
    width: 500px;
    height: 500px;
    background-color: red;
}

a {
    text-transform: uppercase;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1{
    font-size: 4rem;
}

section p{
    font-size: 1.5rem;
}

section#page1 {
    background: url('https://source.unsplash.com/2aAHlfDOhJM/1600x900') no-repeat center center/cover;;
}

section#page2 {
    background: url('https://source.unsplash.com/K2tdx2mFDHc/1600x900') no-repeat center center/cover;;
}

section#page3 {
    background: url('https://source.unsplash.com/VRxo0yY-gyM/1600x900') no-repeat center center/cover;;
}

section#page4 {
    background: url('https://source.unsplash.com/bZZp1PmHI0E/1600x900') no-repeat center center/cover;;
}

section#page5 {
    background: url('https://wallpapercave.com/wp/wp4863918.jpg') no-repeat center center/cover;;
}